section.container {
	border-radius: 4px;
	margin: 20px auto;
	background-color: #EEEEEE;
}

nav.navbar-inverse h3 {
	margin: auto 0px;
}

nav.navbar-inverse {
	border-radius: 0px;
}

button.btn-default {
	background-image: none;
}

.container>img {
	display: block;
	margin: 10px auto;
	padding: 40px 10px 60px 10px;
	background-color: #FFFFFF;
	width: 90%;
}

.imgCon {
	padding: 10px;
	margin: 0px auto;
	width: 90%;
}

.LegendIde {
	display: block;
	margin: 0px auto;
	position: relative;
	top: -50px;
}

div.center-block>ul {
	display: block;
	width: 60%;
	position: relative;
	left: 30%;
}

/*div.center-block>ul>li {
	word-wrap: break-word;
}*/

footer.container>span{
	display: block;
	width: 50%;
	margin: 0 auto;
	color: #E0E0E0;
}
